In [97]:
import pandas as pd
import datetime as dt
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_datareader import data as wb
import scipy as stats

In [98]:
# Read the CSV file - web scrape alt 
ivv_holdings = pd.read_csv("IVV_holdings.csv")

# Display the first few rows of the holdings DataFrame
ivv_holdings

,Ticker,Name,Sector,Asset Class,Market Value,Weight (%),Notional Value,Shares,Price,Location,Exchange,Currency,FX Rate,Market Currency,Accrual Date
0,MSFT,MICROSOFT CORP,Information Technology,Equity,"27,713,543,518.30",7.35,"27,713,543,518.30","73,151,758.00",378.85,United States,NASDAQ,USD,1.0,USD,-
1,AAPL,APPLE INC,Information Technology,Equity,"27,400,886,658.27",7.27,"27,400,886,658.27","144,694,971.00",189.37,United States,NASDAQ,USD,1.0,USD,-
2,AMZN,AMAZON COM INC,Consumer Discretionary,Equity,"13,080,393,163.36",3.47,"13,080,393,163.36","89,395,798.00",146.32,United States,NASDAQ,USD,1.0,USD,-
3,NVDA,NVIDIA CORP,Information Technology,Equity,"11,707,109,794.80",3.11,"11,707,109,794.80","24,318,882.00",481.40,United States,NASDAQ,USD,1.0,USD,-
4,GOOGL,ALPHABET INC CLASS A,Communication,Equity,"7,885,426,946.03",2.09,"7,885,426,946.03","58,414,897.00",134.99,United States,NASDAQ,USD,1.0,USD,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,SEDG,SOLAREDGE TECHNOLOGIES INC,Information Technology,Equity,"43,674,742.60",0.01,"43,674,742.60","556,012.00",78.55,United States,NASDAQ,USD,1.0,USD,-
504,FOX,FOX CORP CLASS B,Communication,Equity,"36,058,554.87",0.01,"36,058,554.87","1,302,223.00",27.69,United States,NASDAQ,USD,1.0,USD,-
505,NWS,NEWS CORP CLASS B,Communication,Equity,"26,690,227.20",0.01,"26,690,227.20","1,140,608.00",23.40,United States,NASDAQ,USD,1.0,USD,-
506,ESZ3,S&P500 EMINI DEC 23,Cash and/or Derivatives,Futures,0.00,0.00,"1,063,217,100.00","4,664.00","4,559.25",-,Index And Options Market,USD,1.0,USD,-
507,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:

ticker =ivv_holdings['Ticker'].to_list()
ticker_remove = ['BFB', 'UBFUT', 'ESZ3', 'XTSLA', 'BRKB','\xa0',]
ticker = filtered_tickers = [t for t in ticker if t not in ticker_remove]
ivv_data = yf.download(ticker, period = '10y')
ivv_data = ivv_data.dropna (how='all', axis = 1)

ivv_data

[*********************100%%**********************]  502 of 502 completed

             Adj Close                                                 \
                     A        AAL        AAPL        ABBV        ABNB
Date
2013-12-02   34.941231  21.720766   17.259239   32.124962         NaN
2013-12-03   34.757362  21.107979   17.731710   33.173893         NaN
2013-12-04   35.184196  20.617754   17.690382   32.974720         NaN
2013-12-05   35.131653  21.070272   17.781187   33.034470         NaN
2013-12-06   36.005032  21.258821   17.534460   34.090019         NaN
...                ...        ...         ...         ...         ...
2023-11-24  126.620003  12.310000  189.970001  138.669998  128.369995
2023-11-27  125.010002  12.180000  189.789993  139.089996  129.000000
2023-11-28  124.709999  12.170000  190.399994  138.080002  127.559998
2023-11-29  127.589996  12.230000  189.369995  138.500000  126.480003
2023-11-30  127.470001  12.370000  188.580002  141.839996  125.680000

                                                                       ...  \
                   ABT       ACGL         ACN        ADBE         ADI  ...
Date                                                                   ...
2013-12-02   31.446686  19.513332   64.096809   56.759998   38.753906  ...
2013-12-03   31.001432  19.553333   64.734978   56.400002   39.682713  ...
2013-12-04   30.803558  19.436666   63.878464   56.049999   39.319916  ...
2013-12-05   30.440773  19.240000   63.643337   55.040001   39.360229  ...
2013-12-06   30.943722  19.533333   63.425007   55.599998   39.723022  ...
...                ...        ...         ...         ...         ...  ...
2023-11-24  102.870003  86.599998  334.040009  619.429993  183.050003  ...
2023-11-27  102.709999  87.000000  332.429993  619.270020  183.770004  ...
2023-11-28  102.059998  84.449997  332.559998  623.320007  183.199997  ...
2023-11-29  103.629997  82.379997  333.339996  617.390015  182.710007  ...
2023-11-30  104.555000  83.019997  333.359985  610.641724  181.669998  ...

             Volume                                                         \
               WYNN      XEL       XOM     XRAY      XYL      YUM      ZBH
Date
2013-12-02   750100  4129800   9310500   590100  1295200  3478613   980869
2013-12-03  1287300  7811200  12599500   765500  2468700  9340287   950072
2013-12-04  1568600  7294500  13074000   753100  1062500  3437857  1059355
2013-12-05  1694200  5642800  10586000   803000  1124500  5271334  2155687
2013-12-06  1383800  4334000  12063400   751600  1535600  4021103   914537
...             ...      ...       ...      ...      ...      ...      ...
2023-11-24  1008100  1357700   9480800  1294200   797400   555600   605500
2023-11-27  1889400  2834500  18013500  3186700  1058800  1143800  1301400
2023-11-28  3616000  3667100  20629500  3279400  1293400  1392800  1212800
2023-11-29  3809700  4314000  26796300  4093000  1184100  1240100  1311200
2023-11-30  1073096  1241672  13213660  1770619   508213   665078   766542


              ZBRA     ZION      ZTS
Date
2013-12-02  189800  2019400  4065200
2013-12-03  229200  1629900  5514800
2013-12-04  215700  1358900  3196400
2013-12-05  249200  1252500  6498000
2013-12-06  243300  1294700  3263700
...            ...      ...      ...
2023-11-24  195200   584000   635200
2023-11-27  528600  1424200  1442700
2023-11-28  424900  1922800  1348900
2023-11-29  372900  2755200  1524400
2023-11-30  115772   824158   887688

[2517 rows x 3012 columns]

In [105]:
#Price Momentums - Slope of 52 week trend 
## https://stackoverflow.com/questions/49100471/how-to-get-slopes-of-data-in-pandas-dataframe-in-python
## https://github.com/quantopian/research_public/blob/master/drafts/Price%20Momentum%20Factor%20Notebook.ipynb

#np.polyfit - finds slope

In [101]:
## Percent Above 260 day low

In [102]:
#https://www.investopedia.com/terms/z/zscore.asp
#zscore if for each asset 
#Mean 
#Standard Deviation

In [ ]:
#20 day lag needed for trend factors
def trend(self,input_df)
    self.input_df = input_df
    self.trend_df = pd.DataGrame(index = self.ivv_data)
    
    for i in range(1,21):
        self.trend_df[i] = np.polyfit(
            range(len(self.input_df[-i - 252: -i])),
            self.input_df[-i -252 : i],
            1,
        )[0]
    return self.trend_df.mean(axis=1)

In [ ]:
class PriceMomentumCalculator:
    def init(self, data):
        self.data = data.tail(280).head(260)
    def slope_52_week(self):
        return self.data.apply(lambda x: np.polyfit(range(len(x)), x, 1)[0])

    def percent_above_260day_low(self):
        min_prices = self.data.min()
        last_prices = self.data.iloc[-1]
        return (last_prices - min_prices) / min_prices * 100

    def price_oscillator(self):
        mean_20 = self.data.tail(20).mean()
        overall_mean = self.data.mean()
        return (mean_20 - overall_mean) / overall_mean * 100
def _39week_return(data):
    recent_data = data.tail(299).head(195)
    return (recent_data.iloc[-1] - recent_data.iloc[0]) / recent_data.iloc[0] * 100

 def volume_price_trend(self):
        price_data = self.data.tail(272).head(255)
        vol_data = self.volume_data.tail(272).head(255)
        return ((price_data.diff() * vol_data).cumsum()).iloc[-1]